---
import CardProyectos from '../CardProyectos.astro';
---
<!-- PROYECTOS -->
<section id="proyectos" class="contenedor mx-auto">
    <div class="my-10 md:my-32 lg:my-48">
        <h2 class="text-2xl font-bold md:text-3xl mb-3 text-white ">Portafolio.</h2>
        <div class="my-8 flex flex-col md:flex-row gap-10">
            <CardProyectos 
            title='TodoApp' 
            body='Aplicacion para organizar tus tareas de manera sencilla con un sistema de soltar, arrastrar y 5 funcionalidades más.'
            tecnologies={[{title: "Angular", color: "bg-red-400"},{title:  "Springboot", color: "bg-green-400"},{title: "MySQL", color: "bg-teal-400"}]} 
            thumbnail='../../public/img/proyectoTodo.png' 
            urlProyecto='/todo'
            githubUrl='https://github.com/Pedroooo12/ToDoApp'
            ></CardProyectos>
        </div>
    </div>
</section>