---
interface Props{
    title: string,
    items: Array<{title: string, color: string}>
}

const {title, items} = Astro.props;
---

<div  
    class="group flex cursor-pointer flex-col gap-2 rounded-md border border-neutral p-4 transition-all duration-300 hover:-translate-y-1.5" data-astro-prefetch=""> 
    <div class="flex w-full justify-between gap-3 flex-row items-start"> 
        <p class="font-semibold text-white md:text-lg">{title}</p> 
    </div> 
    <div class="pt-1 flex flex-row flex-wrap gap-2"> 
        {items.map((item, index) => (
            <div class=`badge ${item.color} text-sm md:text-base py-1 px-3 rounded-full`>#{ item.title }</div>
        ))}             
    </div>
</div>