<footer class="contenedor mx-auto">
    <div class="flex flex-wrap content-around gap-4 justify-center"> 
        <a target="_blank" href="mailto:pedro9122002@gmail.com"> 
            <button class="btn btn-outline btn-md mr-2 inline-flex gap-2 delay-75 duration-200 text-white border-2 hover:text-verde hover:border-verde border-white py-2 px-4 rounded-full">
                <svg width="1em" height="1em" viewBox="0 0 32 32" class="w-6 h-6" data-icon="carbon:email">  
                    <symbol id="ai:carbon:email">
                        <path fill="currentColor" d="M28 6H4a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2m-2.2 2L16 14.78L6.2 8ZM4 24V8.91l11.43 7.91a1 1 0 0 0 1.14 0L28 8.91V24Z">
                        </path>
                    </symbol>
                    <use xlink:href="#ai:carbon:email">
                    </use>  
                </svg>
                Email
            </button> 
        </a>
        <a target="_blank" href="https://github.com/Pedroooo12"> 
            <button class="btn btn-outline btn-md mr-2 inline-flex gap-2 delay-75 duration-200 text-white border-2 hover:text-azul hover:border-azul border-white py-2 px-4 rounded-full">
                <svg width="1em" height="1em" viewBox="0 0 32 32" class="w-6 h-6" data-icon="carbon:logo-github">  
                    <symbol id="ai:carbon:logo-github">
                        <path fill="currentColor" fill-rule="evenodd" d="M16 2a14 14 0 0 0-4.43 27.28c.7.13 1-.3 1-.67v-2.38c-3.89.84-4.71-1.88-4.71-1.88a3.71 3.71 0 0 0-1.62-2.05c-1.27-.86.1-.85.1-.85a2.94 2.94 0 0 1 2.14 1.45a3 3 0 0 0 4.08 1.16a2.93 2.93 0 0 1 .88-1.87c-3.1-.36-6.37-1.56-6.37-6.92a5.4 5.4 0 0 1 1.44-3.76a5 5 0 0 1 .14-3.7s1.17-.38 3.85 1.43a13.3 13.3 0 0 1 7 0c2.67-1.81 3.84-1.43 3.84-1.43a5 5 0 0 1 .14 3.7a5.4 5.4 0 0 1 1.44 3.76c0 5.38-3.27 6.56-6.39 6.91a3.33 3.33 0 0 1 .95 2.59v3.84c0 .46.25.81 1 .67A14 14 0 0 0 16 2"></path>
                    </symbol>
                    <use xlink:href="#ai:carbon:logo-github"></use>  
                </svg>
                Github
            </button> 
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/pedro-luis-o%C3%B1ate-egea-741ab7220/"> 
            <button class="btn btn-outline inline-flex btn-md mr-2 gap-2 delay-75 duration-200 text-white border-2 hover:text-violeta hover:border-violeta border-white py-2 px-4 rounded-full">
                <svg width="1em" height="1em" viewBox="0 0 32 32" class="w-6 h-6" data-icon="carbon:logo-linkedin">  
                    <symbol id="ai:carbon:logo-linkedin">
                        <path fill="currentColor" d="M26.2 4H5.8C4.8 4 4 4.8 4 5.7v20.5c0 .9.8 1.7 1.8 1.7h20.4c1 0 1.8-.8 1.8-1.7V5.7c0-.9-.8-1.7-1.8-1.7M11.1 24.4H7.6V13h3.5zm-1.7-13c-1.1 0-2.1-.9-2.1-2.1c0-1.2.9-2.1 2.1-2.1c1.1 0 2.1.9 2.1 2.1s-1 2.1-2.1 2.1m15.1 12.9H21v-5.6c0-1.3 0-3.1-1.9-3.1S17 17.1 17 18.5v5.7h-3.5V13h3.3v1.5h.1c.5-.9 1.7-1.9 3.4-1.9c3.6 0 4.3 2.4 4.3 5.5v6.2z"></path>
                    </symbol>
                    <use xlink:href="#ai:carbon:logo-linkedin"></use>  
                </svg>
                Linkedin
            </button>
        </a>
    </div>
    <hr class="w-1/2 mx-auto mt-8">
    <div class="flex justify-center items-center bg-transparent ">
        <p class="flex items-center text-center font-light text-sm text-white my-5">
            © 2024 Desarrollado por
            <a target="_blank" class="link ml-1" href="https://github.com/mmouzo">Pedro Luis Oñate Egea</a> 
        </p>
    </div>
</footer>