---
import HeaderItems from '../components/HeaderItems.astro';
---


<!-- HEADER PRUEBA -->
<header >
  <nav class="flex contenedor items-center justify-between" aria-label="Global">
    <div class="flex lg:flex-1" id="logotipo">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/img//logo.png" class="w-24" alt="Logotipo" />
      </a>
    </div>
    <div class="flex lg:hidden ">
      <button type="button" id="btn_abrir" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <ul class="hidden lg:flex lg:gap-x-12 font-medium text-white">

      <li>
        <HeaderItems title='Inicio' href='#inicio'></HeaderItems>
      </li>
      <li>
        <HeaderItems title='Sobre mi' href='#sobreMi'></HeaderItems>
      </li>
      <li>
        <HeaderItems title='Habilidades' href='#habilidades'></HeaderItems>
      </li>
      <li>
        <HeaderItems title='Tecnologías' href='#tecnologias'></HeaderItems>
      </li>
      <li>
        <HeaderItems title='Portfolio' href='#proyectos'></HeaderItems>
      </li>
    </ul>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div id="menu_mobile" class="hidden lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <button type="button" id="btn_cerrar" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="h-8 w-8 " fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <ul class="font-medium text-black">

            <li>
              <HeaderItems title='Inicio' href='#inicio'></HeaderItems>
            </li>
            <li>
              <HeaderItems title='Sobre mi' href='#sobreMi'></HeaderItems>
            </li>
            <li>
              <HeaderItems title='Habilidades' href='#habilidades'></HeaderItems>
            </li>
            <li>
              <HeaderItems title='Tecnologías' href='#tecnologias'></HeaderItems>
            </li>
            <li>
              <HeaderItems title='Portfolio' href='#proyectos'></HeaderItems>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
    // Mover el código que utiliza las APIs del navegador aquí
    const btn_abrir = document.getElementById("btn_abrir");
    const btn_cerrar = document.getElementById("btn_cerrar");
    const li_conjunto = document.getElementsByTagName("li");

    if(btn_abrir != null) {
      btn_abrir.addEventListener('click', () => {
        const menu = document.getElementById("menu_mobile");
        if(menu != null){
          if(menu.classList.contains("hidden")){
            menu.classList.remove("hidden");

          }
        }
    }); 
    }

    if(btn_cerrar != null) {
      btn_cerrar.addEventListener('click', () => {
        const menu = document.getElementById("menu_mobile");
        if(menu != null){
          menu.classList.add("hidden");
        }
    }); 


    for (let index = 0; index < li_conjunto.length; index++) {
        li_conjunto[index].addEventListener('click', () => {
          const menu = document.getElementById("menu_mobile");
          menu!.classList.add("hidden");
        });
      
    }
  }
</script>