---
import Button from '../components/Button.astro';

import SobreMi from './sections/SobreMi_section.astro';

import Habilidades from './sections/Habilidades_section.astro';

import Tecnologias from './sections/Tecnologias_section.astro';

import  Proyectos from './sections/Proyectos_section.astro';

const h1 = "Hola, mi nombre es Pedro.";
const descripcion_corta = "<Desarrollador web/>";
---

<main class="contenedor mx-auto py-5 md:py-14 lg:py-32" id="inicio">
    <div class="flex flex-col items-end md:flex-row md:items-center gap-5 lg:gap-16">
        <div class="order-2">
            <h2 class="text-2xl font-extrabold text-claro leading-tight">{descripcion_corta}</h2>
            <h1 class="text-3xl md:text-5xl font-extrabold text-claro leading-tight">{h1}</h1>
           
            <p class="text-md font-semibold py-3 text-gray-300">Soy un amante de la tecnología <span class="text-lg">front-end</span>, siempre en busca de nuevas aventuras y retos. Me encanta explorar las últimas tendencias y herramientas para crear experiencias web que cautiven y sorprendan. Siempre estoy en modo aprendizaje, ¡así que esperen verme probando cosas nuevas todo el tiempo!</p>
            <div class="flex justify-center lg:justify-start gap-10">
                <div class="md:flex md:gap-10">
                    <Button title='Habilidades' href='#habilidades' bg_color='bg-azul'></Button>
                    <Button 
                        title='Linkedin' 
                        href='https://www.linkedin.com/in/pedro-luis-o%C3%B1ate-egea-741ab7220/' 
                        bg_color='bg-violeta'
                        target='_blank'>
                    </Button>
                   
                </div>
                <div class="flex justify-center items-stretch">
                    <Button 
                        title='Ver CV' 
                        href='/PedroLuisOnateEgea.pdf' 
                        bg_color='bg-verde'
                        download="PedroLuisOnateEgea">
                    </Button>
                </div>
            </div>
        </div>
        <div class="w-fit md:min-w-72 lg:md:min-w-96 mx-auto    md:order-2 drop-shadow-sm">
            <div class="absolute hidden md:block w-full h-44 bg-verde rounded-full left-10 bottom-0 -z-10"></div> 
            <img src="/img/img_principal.png" alt="" class="w-fit  h-fit drop-shadow-2xl">
        </div>
    </div>
</main>

<SobreMi></SobreMi>

<Habilidades></Habilidades>


<Tecnologias></Tecnologias>

<Proyectos></Proyectos>

<!-- BTN VOLVER ARRIBA -->
<a href="#top" class="fixed bottom-8 right-8 p-2 rounded-full bg-black">
    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/>
      </svg>      
</a>


